._toastContainer_1llc6_1 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 12px 0px;
	font-size: 12px;
	font-weight: 500;
	text-align: center;
	color: #0a0d13;
	background: #ffc9c9;
	animation: _active_1llc6_1 3s ease forwards;
}

@keyframes _active_1llc6_1 {
	0% {
		transform: translateY(0%);
		opacity: 0;
	}

	10% {
		transform: translateY(100%);
		opacity: 1;
	}

	90% {
		transform: translateY(100%);
		opacity: 1;
	}

	100% {
		transform: translateY(0%);
		opacity: 0;
	}
}
._container_1xpal_1 {
	position: fixed;
	top: 0;
	display: flex;
	width: 430px;
	height: 64px;
	padding: 0px 24px;
	justify-content: space-between;
	align-items: center;
	background: #000;
	color: white;
}

._cartContainer_1xpal_14 {
	position: relative;
}

._cartCount_1xpal_18 {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 0;
	bottom: 0;
	color: #000;
	background: #fff;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	font-weight: bold;
}
._cardContainer_hdp9l_1 {
	width: 182px;
	height: 224px;
	padding-bottom: 8px;
	border-radius: 8px;
	background: #fff;
	overflow: hidden;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}

._cardImg_hdp9l_11 {
	width: 100%;
	height: 112px;
	object-fit: cover;
	background: linear-gradient(110deg, #f0f0f0 40%, #fafafa 50%, #f0f0f0 60%);
	background-size: 300%;
	animation: _glow_hdp9l_1 3s infinite linear;
}

._contentContainer_hdp9l_20 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 12px;
	padding: 0 8px;
	gap: 27px;
}

._itemDescription_hdp9l_29 {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

._cardName_hdp9l_35 {
	font-size: 14px;
	font-weight: 700;
	font-family: Inter;
	color: #0a0d13;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
}

._buttonWrap_hdp9l_46 {
	display: flex;
	flex-direction: row-reverse;
	justify-content: end;
}

._addCartButton_hdp9l_52 {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 4px;
	color: #fff;
	border: none;
	background: #000;
	border-radius: 4px;
	padding: 4px 8px;
}

._removeCartButton_hdp9l_64 {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 4px;
	color: #000;
	border: none;
	background: #eaeaea;
	border-radius: 4px;
	padding: 4px 8px;
}

@keyframes _glow_hdp9l_1 {
	0% {
		background-position: 0%;
	}

	100% {
		background-position: 300%;
	}
}
._cardContainer_1h67q_1 {
	width: 182px;
	height: 224px;
	padding-bottom: 8px;
	border-radius: 8px;
	background: #fff;
	overflow: hidden;
}

._skeletonImg_1h67q_10 {
	width: 100%;
	height: 112px;
	background: linear-gradient(110deg, #f0f0f0 40%, #fafafa 50%, #f0f0f0 60%);
	background-size: 300%;
	animation: _glow_1h67q_1 3s infinite linear;
}

._skeletonLine_1h67q_18 {
	width: 100%;
	height: 16px;
	background: linear-gradient(140deg, #f0f0f0 40%, #fafafa 50%, #f0f0f0 60%);
	background-size: 300%;
	animation: _glow_1h67q_1 3s infinite linear;
}

._contentContainer_1h67q_26 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 12px;
	padding: 0 8px;
	gap: 27px;
}

._itemDescription_1h67q_35 {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

._buttonWrap_1h67q_41 {
	display: flex;
	flex-direction: row-reverse;
	justify-content: end;
}

@keyframes _glow_1h67q_1 {
	0% {
		background-position: 0%;
	}

	100% {
		background-position: 300%;
	}
}
._itemContainer_b2e6k_1 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 16px;
	row-gap: 20px;
}
._container_1au3h_1 {
	position: relative;
	width: 430px;
	height: 100vh;
	margin: 0 auto;
}

._title_1au3h_8 {
	font-size: 24px;
	font-weight: 700;
	color: #000;
}

._contentContainer_1au3h_14 {
	margin-top: 100px;
	padding: 0 24px;
}

._contentTop_1au3h_19 {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-bottom: 28px;
	justify-content: space-between;
}

._dropdownContainer_1au3h_27 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

._dropdownContainer_1au3h_27 > * {
	padding: 8px;
	border-radius: 8px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background: #fff;
}

._itemContainer_1au3h_40 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 16px;
	row-gap: 20px;
}
* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Noto Sans";
}
